<h1>Create new Song </h1>
<form method="post" action="/songs">
  <label for="Name">Name: <input type="text" id="Name" name="song[name]"></label>
  <br>
  Genres:
  <br>
  <% @genres.each do |genre| %>
<<<<<<< HEAD
  <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %>
=======
  <input type="checkbox" name="song[genres][]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %>
>>>>>>> c5e4edf1b1ef3e9ed52210d6477154262922fa41
  <% end %>
  <br>
  Artist: <input type="text" name="artist[name]" id="Artist Name">
  <br>
  <input type="submit" value="Create">
</form>
