<<<<<<< HEAD
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

=======
>>>>>>> c5e4edf1b1ef3e9ed52210d6477154262922fa41
<h2>Name: <%= @song.name %> </h2>
<h2> Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a> </h2>

<h2>Genres: </h2>
<% @song.genres.each do |genre| %>
<h3><a href="/genres/<%= genre.slug %>"><%= genre.name %></a> </h3>
<% end %>
